.dvarTorahDiv {
    background-color: rgb(187, 132, 64);
    border: orangered 0.5px solid;
    width: 50%;
    height: 70%;
    padding: 3%;
    margin: 3% auto;


    // &__line {
        
    // }

    // &__text {

    // }
}