.shabbatDiv {
    background-color: darkmagenta;
    margin: 0 auto;
    width: 50%;
    padding: 1% 3%;
    margin-top: 2%;

    &__line {

    }

    &__enter {

        h4 {

        }

        p {

        }
    }

    &exit {

        h4 {

        }

        p {

        }
    }
}